@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.rendering-auto {
		image-rendering: auto;
	}

	.rendering-pixelated {
		image-rendering: pixelated;
	}

	.rendering-crisp-edges {
		image-rendering: -webkit-optimize-contrast;
		image-rendering: -moz-crisp-edges;
		image-rendering: crisp-edges;
	}
}

@font-face {
	font-family: 'Blazma';
	src: url("../../public/assets/fonts/blazma/Blazma.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: block;
}

@font-face {
	font-family: 'Blazma';
	src: url("../../public/assets/fonts/blazma/BlazmaItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
	font-display: block;
}

@font-face {
	font-family: 'Glametrix';
	src: url("../../public/assets/fonts/glametrix/Glametrix.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
	font-display: block;
}

@font-face {
	font-family: 'Glametrix';
	src: url("../../public/assets/fonts/glametrix/GlametrixBold.otf") format("opentype");
	font-style: normal;
	font-weight: bold;
	font-display: block;
}

@font-face {
	font-family: 'Glametrix';
	src: url("../../public/assets/fonts/glametrix/GlametrixLight.otf") format("opentype");
	font-style: normal;
	font-weight: 300;
	font-display: block;
}
